extend ../_template.pug

append stylesheets
	//link(rel="stylesheet", href="/static/lib/semantic/components/form.min.css")
	link(rel="stylesheet", href="/sass/admin.sass")
	
block content
	include _menu.pug

	.ui.stackable.grid.container
		.ui.five.wide.column
			block menu
		
		block page