extend ../_template.pug

append stylesheets
	link(rel="stylesheet", href="/sass/admin.sass")
	
block content
	include _menu.pug

	.ui.stackable.grid.container
		.ui.five.wide.column
			block menu
		
		block page

block scripts
	script(src="/static/lib/jquery-plugins/jquery.inputmask.bundle.min.js")
	script.
		$(document).ready(() => {
			//$("#table").tablesort()
			$(".document.mask").inputmask("999.999.999-99")
		})