mixin _menuOption(src, name, current)
	a.item(href=src, class=(name == current? 'active': ''))= name

mixin menu(currentUrl)
	.ui.secondary.vertical.menu
		.header.item
			a.ui.logo.icon.image(href="/admin")
				img(src="/static/images/hwlogo_light.png")
		+_menuOption('/logoff', 'Sair', currentUrl)
		.item
			.header Administração
				.menu
					+_menuOption('/admin/teachers', 'Professores', currentUrl)
					+_menuOption('/admin/subjects', 'Disciplinas', currentUrl)
					+_menuOption('/admin/assignment', 'Atribuição', currentUrl)