extend _admintemplate.pug

block title 
	| Atribuição

block menu
	include _menu.pug
	+menu('Atribuição')

block page 
	.ui.basic.segment
		h1.ui.header Atribuição
		table.ui.celled.collapsing.definition.table
			thead
				tr
					th 
					each subject in subjects
						th.popup(data-content=subject.name data-position="bottom right")= subject.code
			tbody
				each teacher in teachers
					tr
						td= teacher.name
						each subject in subjects
							td.collapsing 
								.ui.fitted.slider.checkbox
									input(type="checkbox")
									label

append scripts
	script(src="/static/lib/semantic/components/transition.min.js")
	script(src="/static/lib/semantic/components/popup.min.js")
	script.
		$(document).ready(() => {
			$('.popup')
				.popup({
				})
			;
		})