extend _template

append stylesheets
	link(rel="stylesheet", href="sass/landing-page.sass")

block content
	.pusher 
		#wrapper
			.ui.masthead.inverted.center.aligned.segment
				.mastcontent
					div
						img(src="images/hwlogo_dark.png").mastlogo
					.scroll-down
						span.periodical-trigger Entrar
						i.angle.down.icon.periodical-trigger

			#content-wrapper(style="height: 100vh")
				.ui.mastcontent.centered.middle.aligned.grid
					.five.wide.computer.eight.wide.tablet.column
						img.image(src="images/hwlogo_light.png", alt="WikiAcad logotipo").ui.center
						include _loginform.pug