extend _template

append stylesheets
	link(rel="stylesheet", href="/static/css/launching.sass.css")

block content
	#content-wrapper(style="height: 100vh")
		.ui.mastcontent.centered.middle.aligned.grid
			.five.wide.computer.eight.wide.tablet.column
				img.image(src="images/hwlogo_light.png", alt="WikiAcad logotipo").ui.center
				include _loginform.pug
block scripts
