extend _teachertemplate.pug

block title 
	if subject
		=subject.name

block menu
	include _menu.pug
	+menu(subject.name)

block modals

block page
	.ui.basic.segment
		h1.ui.header Atividades
		
	.ui.basic.segment
		h1.ui.header Materiais

append scripts
	script.
		$(document).ready(() => {
			let isEditando = false

			$("a.delete").click(function() {
				const id = $(this).data('id')
				const $modal = $("#deletar")
				$modal.modal({
					onApprove: () => {
						$modal.addClass('loading')
						$.ajax({
							url: '/admin/subject/' + id + '?_method=DELETE',
							method: 'DELETE'
						}).done((data) => {
							window.location.reload()
						}).fail((err) => {
							window.location.reload()
						})
					}
				}).modal('show')
			})
		})